<div class="side_header">
  <div class="name">
    <a href="#">Tom</a>
  </div>
  <div class="bottom">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side_main">
  <div class="chat">
    <div class="chat_name">
      <a href="#">techroom1</a>
    </div>
  </div>
    <div class="chat">
    <div class="chat_name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>